@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --body-font: "Red Hat Display", sans-serif;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: var(--body-font);
  background-color: var(--pale-blue);
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

main,
.order-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background: url(./images/pattern-background-desktop.svg);
  background-size: 100vw 55vh;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
}

.order-card {
  background-color: white;
  max-width: 25rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.order-card img {
  display: block;
  max-width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.order-summary {
  padding: 0 2rem;
}
.order-summary h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  padding-top: 1em;
}

.order-summary p {
  font-size: 1rem;
  color: var(--desaturated-blue);
  text-align: center;
}

.annual-plan-info {
  margin: 1.5em 0;
  /* background-color: hsl(224, 44%, 95%); */
  background-color: var(--very-pale-blue);
  border-radius: 15px;
}

.annual-plan-info,
.plan-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.plan-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plan-info img {
  margin: 1.2rem;
}
.plan-price h2,
p {
  font-size: 1rem;
  margin: 0;
}
.plan-cta {
  color: var(--bright-blue);
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 1em;
}

.payment-button {
  background-color: var(--bright-blue);
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 1em;
  margin: 0.5em 0;
  color: var(--very-pale-blue);
  font-weight: 700;
  font-family: var(--body-font);
  box-shadow: var(--desaturated-blue) 0px 10px 30px -10px;
  cursor: pointer;
}
.payment-button:hover, .plan-cta:hover {
  opacity: .8;
  text-decoration: none;
}

.order-summary .cancel-button {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--desaturated-blue);
    font-weight: 900;
    padding: 1.5em 0 2.5em 0;
}

.order-summary .cancel-button:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

/** Media Query **/

  @media screen and (max-width: 850px) {
    .order-card {
      max-width: 27rem;
    }
  }

  @media screen and (max-width: 450px) {
    .main {
      background: url(./images/pattern-background-mobile.svg);
      background-size: contain;
    }
    .order-card {
      max-width: 30rem;
      margin: auto 10px;
    }
  }
